@model DigiPortfoli.Models.Entities.SocialMediaInfo

@{
    Layout = "~/Views/Shared/_LayoutWithNavbar.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SocialMediaInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalInfoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalInfoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SocialMediaName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SocialMediaName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SocialMediaURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SocialMediaURL)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
